@charset "UTF-8";

header#cabecalho-artigo h1 {
    color: rgb(41, 43, 68);
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #bbb;
    margin-left: 500px;
    width: 270px;
    padding: 10px;
}
div#camera img {
    position: absolute;
    left: 740px;
    top: 130px;
}
div#papel-parede img {
    position: absolute;
    left: 400px;
    top: 110px;
    
}
div#branco {
    box-shadow: 1px 1px 2px 2px #bbb;
    width: 1200px;
    height: 900px;
    margin: 20px;
    border-radius: 5px;
}

div#area img{
    width: 350px;
    position: absolute;
    left: 120px;
    top: 270px;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
}

div#carteira img {
    position: absolute;
    left: 530px;
    top: 290px;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
}
div#cor-fundo img {
    width: 1200px;
    border-radius: 5px;
}

 /* Formatação do zoom*/
.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

