@charset "UTF-8";

img#historia {
    position: relative;
    margin: 15px;
    margin-left: 15px;
    width: 700px;
    border-radius: 4px;

}

div#marrom2 {
    background-color: #A0522D;
    margin: 6px;
    width: 730px;
    margin-left: 2px;
    border-radius: 4px;
}

h1 {
    margin: 10px;
    margin-left: 2px;
    background-color: rgb(51, 43, 92);
    width: 300px;
    text-align: center;
}

div#marrom {
    background-color: #A0522D;
    margin: 10px;
    margin-left: 2px;
    margin-right: 10px;
    width: 730px;
    border-radius: 4px;
}

img#historia2 {
    margin: 15px;
    margin-left: 15px;
    width: 700px;
    border-radius: 4px;

}

img#cores {
    margin: 15px;
    margin-left: 15px;
    width: 700px;
    border-radius: 4px;
}

div#marrom4 {
    background-color: #A0522D;
    margin: 10px;
    margin-left: 2px;
    margin-right: 10px;
    width: 730px;
    border-radius: 4px;
}

aside#lateral {
    display: block;
    width: 420px;
    height: 600px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    left: 790px;
    top: 110px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

div#blue {
    margin-right: 500px;
}

aside#lateral h1 {
    font-family: Arial;
    font-size: 20pt;
    color: #b1b0b0;
    text-align: center;
    margin-left: 30px;
    width: 200px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

.tipo {
    width: 350px;
    margin: 8px;
    margin-left: 30px;
    border-radius: 5px;
    transition: all .3s;
    border: 2px solid transparent;

}

.tipo:hover {
    border: 8px solid #1a162c;
    border-radius: 1%;
}

.frente {
    margin: 10px;
    margin-left: 30px;
    width: 360px;
}

.frente:hover {
    box-shadow:
        1px 1px #A0522D,
        2px 2px #A0522D,
        3px 3px #A0522D;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

div#frente p {
    margin-top: 9px;
    text-align: center;
    margin: 2px;
    color: #1a162c;
    font-size: 17pt;
}

.verso {
    margin: 10px;
    margin-left: 30px;
    width: 360px;
}

.verso:hover {
    box-shadow:
        1px 1px #A0522D,
        2px 2px #A0522D,
        3px 3px #A0522D;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

div#verso p {
    margin-top: 9px;
    text-align: center;
    margin: 2px;
    color: #1a162c;
    font-size: 17pt;
}

footer#rodape p {
    color: #1a162c;
    position: absolute;
    margin-left: 400px;

}

div#linha {
    position: absolute;
}


div#cartao h1 {
    margin: 10px;
    margin-left: 27px;
    margin-top: -4px;
    background-color: rgb(51, 43, 92);
    width: 360px;
    text-align: center;
}

/*Botoes*/

.iten-menu>a {
    border: none;
    color: #1c1c1c;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
    margin-left: 8px;
}

.iten-menu>a>button {
    border-radius: 1px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    border: none;
    padding: 6px;
    transition: 0.5s;
}

.iten-menu>a>button:hover {
    text-decoration: none;
    background-color: #2e2c46;
    color: white;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    left: 675px;
    top: 25%;
}